.cart-price > div {
	display: inline-block;
	width: 110px;
}
.card {
	background: #f3f3f3;
}
.cart-img {
	height: 100px;
}

.myTitle {
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin: 2rem;
}
